<h1>New Article</h1>

<%= form_for @recipe, url: recipes_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <ul>
    <%= f.fields_for :ingredients do |ingredients_form| %>
      <li>
        <%= ingredients_form.label :name %>
        <%= ingredients_form.text_field :name %>
        <%= ingredients_form.label :magnitude %>
        <%= ingredients_form.text_field :magnitude %>
        <%= ingredients_form.label :unit %>
        <%= ingredients_form.text_field :unit %>
      </li>
    <% end %>
  </ul>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>